.cardHeading {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.headingText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardHeading h3 {
  font-size: 3.2rem;
  font-family: var(--primaryFont);
  border-bottom: 1px solid;
  padding: 0.3rem;
}
.cardHeading p {
  font-size: 1.6rem;
  border-bottom: 1px solid;
  padding: 0.3rem;
}

.line {
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(to right, #24a0b5 40%, #0e464f 40%);
}

.stepLine {
  height: 4px;
  background-color: #07373f;
  margin: 3.2rem 0;
}


