/* STEP TWO CARD */
.stepOneCard {
  width: 60.4rem;
  padding: 2.4rem;
  border: 1px solid #0e464f;
  border-radius: 15px;
  margin: 3.2rem 0 4.8rem;
  background-color: #08252b;
}

.line {
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(to right, #24a0b5 40%, #0e464f 40%);
}

.stepLine {
  height: 4px;
  background-color: #07373f;
  margin: 3.2rem 0;
}

.btnDiv {
  margin: 3.2rem 0 0;
  padding: 0;
  display: flex;
  gap: 1.6rem;
}
.btnDiv > button {
  display: inline-block;
  width: 27rem;
  height: 4.8rem;
}

.avatarCard {
  border: 1px solid #0e464f;
  border-radius: 15px;
  background: #052228;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 2.4rem;
}
.avatarCard > p {
  font-family: var(--secondaryFont);
  font-size: 1.6rem;
}
.avatarInput {
  background: rgba(0, 0, 0, 0.2);
  width: 50rem;
  height: 24rem;
  display: flex;
  justify-content: center;
}
.placeholder {
  color: #fff;
  font-size: 6rem;
}

.hidden-input {
  display: none;
}
.uploadBox {
  width: 24rem;
  background-color: #197686;
  margin: 0 auto;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 10;
  cursor: pointer;
}
.uploadLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  z-index: 10;
}
.uploadIcon {
  font-size: 2rem;
  color: #fff;
}
.uploadLabel > p {
  font-size: 1.6rem;
  width: 85%;
  text-align: center;
}
.fileUpload {
  visibility: hidden;
  display: none;
}

.formArea {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 0;
  width: 100%;
  font-size: 1.6rem;
  font-family: var(--secondaryFont);
}

.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.inputDiv textarea,
.inputDiv input {
  background: transparent;
  border: 1px solid #0e464f;
  border-radius: 10px;
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem;
}
.inputDiv input {
  padding: 1.5rem 1rem;
}
.inputDiv textarea {
  height: 12.5rem;
}
.inputDiv textarea::placeholder,
.inputDiv input::placeholder {
  font-family: var(--secondaryFont);
}
.inputDiv textarea:focus,
.inputDiv input:focus {
  outline: none;
}


.uploadedImage{
  height: 100%;
  width: 100%;
}
